<h2>Available Importers</h2>

<table>
  <thead>
    <tr>
      <th>Importer</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Spells</td>
      <td>Open 5E spells includin SRD, Kobold Press OGL content, and more.</td>
      <td><a href="{{ spellURL }}" class="button">Import</a></td>
    </tr>
  </tbody>
</table>

<p>Fetch </p>
